* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;

  --color-base-white: #fff;
  --color-base-gray-100: #f5f5f5;
  --color-base-gray-300: #8d8d99;
  --color-base-gray-500: #3d3d3d;
  --color-base-gray-900: #202024;
}

body {
  font-size: 1.6rem;

  background-color: var(--color-base-white);
  color: var(--color-base-gray-900);
}

#app > * {
  border: 1px solid red;
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content; /* header e footer crescem com o máx conteúdo inserido. Main será tudo q sobrar! */
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%); /* max-width do conteúdo até 1120px */
  margin: 0 auto;
}

/* HEADER */
header,
nav,
nav ul {
  display: flex;
  align-items: center;
  gap: 7.2rem;

  font-weight: 700;
}

header form {
  flex-wrap: 1; /* Preenche todo o espaço disponível pra ele */
}

nav ul {
  list-style: none;

  font-size: 1.8rem;
  color: var(--color-base-gray-300);
}

ul li.active {
  color: var(--color-base-gray-900);
}

/* Esconde o label! */
.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.6rem;

  background-color: var(--color-base-gray-100);
  border: none;
  border-radius: 0.6rem;

  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: var(--color-base-gray-500);
  opacity: 0.56;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover; /* Cobre todo o espaço diponível com a img */
  border-radius: 50%; /* Quando temos img quadradas, arrendonda corretamente */
}

/* MAIN */
main {
  overflow-y: scroll; /* scroll somente no main! */
  background-color: var(--color-base-gray-100);
}

/* GALLERY */
main h1 {
  font-size: 2.4rem;

  padding-top: 1.6rem;
}

.gallery {
  margin-top: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.item {
  background-color: var(--color-base-white);
  border-radius: 0.8rem;

  overflow: hidden; /* Ajusta a img c/ borda da caixa*/
}

.item img {
  width: 100%;

  aspect-ratio: 16/9; /* PROPORÇÃO da img*/
  object-fit: cover;

  /* TRANSITIONS
  transition-property: transform, filter;  Define em qual propriedade aplicaremos a transição! "all" define q todas propriedades receberão a transição.
  transition-duration: 300ms;  Tempo da transição 
  transition-delay: 0;  Tempo p/ iniciar a transição 
  transition-timing-function: ease-out;  relação entre tempo x velocidade da transição
  */

  /* OU TRANSITIONS no shorthand: */
  transition: all 300ms ease-out;
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(-2deg);
}

.details {
  padding: 2.2rem;
}

.details h2 {
  font-size: 1.8rem;
}

.tags {
  margin-top: 1.2rem;
}

.tags span {
  padding: 0.6rem;
  background-color: var(--color-base-gray-100);
  border-radius: 0.4rem;

  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* FOOTER */
footer p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
